/*
* @Author: Administrator
* @Date:   2017-08-15 16:02:37
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-16 14:45:38
*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.head{
	width: 100%;
	height: 32px;
	border-bottom: 1px solid #cccccc;
	background:#f7f7f7;

}
.headmain{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background:#f7f7f7;
}
.right{
	width: 480px;
	height: 100%;
	float: right;
	line-height: 32px;
	font-size: 12px;
	color: #808080;
}
.right1{
	width: 140px;
	height: 100%;
	float: left;
	margin-right: 20px;

}
.right2{
	width: 90px;
	height: 100%;
	float: left;
	margin-right: 13px;
}
.login{
	color: #808080;
	float: left;
	margin-right: 12px;
}
.shu{
	float: left;
	margin-right: 11px;
}
.reg{
	color: #808080;
	float: left;
}
.ding{
	width: 48px;
	height: 100%;
	float: left;
	margin-right: 10px;
}
.dingdan{
	color: #808080;
}
.img4{
	display: block;
	width: 100%;
	height: 100%;
}
.yin{
	width: 17px;
	height: 18px;
	float: left;
	display: block;
	margin-right: 10px;
}
.img5{
	display: block;
	width: 100%;
	height: 100%;
	margin-top: 6px;
}
.gonggao{
	width: 48px;
	height: 100%;
	line-height:32px;
	color: #808080;
}
.weixin{
	width: 34px;
	height: 100%;
	display: block;
	float: right;
}
.w1{
	display: block;
	width: 100%;
	height: 100%;
	float: left;
}
.weixin1{
	width: 34px;
	height: 100%;
	display: block;
	float: right;
	margin-right: 5px;
}
.nav{
	width: 1200px;
	height: 29px;
	margin: 0 auto;
	margin-top: 29px;

}
.nav-right{
	width: 438px;
	height: 29px;
	float: right;
}
.sou{
	width: 260px;
	height: 27px;
	border: 1px solid #c9caca;
	float: left;
	line-height: 27px;
}

.search{
	width: 309px;
	height: 100%;
	float: left;
}
.van{
	width: 45px;
	height: 27px;
	display: block;
	float: right;
	border: 1px solid #c9caca;
}
.sosuotu{
	display: block;
	width: 100%;
	height: 100%;
}
.gouwu{
	width: 108px;
	height: 100%;
	float: right;

}
.che{
	display: block;
	width: 100%;
	height: 100%;
}
.sosuo{
	width: 1200px;
	height: 29px;
	margin: 0 auto;
}
.so-right{
	width: 438px;
	height: 100%;
	float: right;
	font-size: 12px;
	line-height: 29px;
	color: #808080;
}
.so-right span{
	margin-right:5px;
}
.so-right a{
	color: #808080;
	margin-right: 3px;
}

.shop{
	width: 1200px;
	height: 509px;
	margin: 0 auto;
}
.shop-left{
	width: 590px;
	height: 100%;
	background: black;
	float: left;
	margin-right: 17px;
}
.img1{
	display: block;
	width: 100%;
	height: 100%;
}
.wenzi{
	width: 576px;
	height: 39px;
	background: #ffffff;
	border: 1px solid #e8e7ec;
	border-top: 0;
	padding-left: 12px;
	padding-top: 29px;
}
.wenzi-left{
	width: 110px;
	height: 12px;
	font-size: 12px;
	text-align: center;
	line-height: 12px;
	color: #333333;
	float: left;
}
.wenzi-right{
	width: 54px;
	height: 12px;
	font-size: 12px;
	float: right;
	color: #a10000;
	padding-right: 12px;
}
.left-top{
	width: 100%;
	height: 440px;
	display: block;
}
.shop-center{
	width: 290px;
	height: 100%;
	float: left;
}
.center-top{
	width: 100%;
	height: 249px;
}
.top1{
	width: 100%;
	height: 179px;
	display: block;
}
.img2{
	display: block;
	width: 100%;
	height: 100%;

}
.bottom{
	width: 288px;
	height: 68px;
	border: 1px solid #333333;
	border-top: 0;
}
.wenzi1{
	width: 276px;
	height: 39px;
	background: #ffffff;
	border: 1px solid #e8e7ec;
	border-top: 0;
	border-bottom: 1px solid #e8e7ec;
	padding-left: 12px;
	padding-top: 29px;
}
.wenzi-left1{
	width: 162px;
	height: 12px;
	font-size: 12px;
	text-align: center;
	line-height: 12px;
	color: #333333;
	float: left;
}
.wenzi-right1{
	width: 54px;
	height: 12px;
	font-size: 12px;
	float: right;
	color: #a10000;
	padding-right: 12px;
}
.center-bottom{
	width: 100%px;
	height: 260px;
}
.bottom1{
	width: 100%;
	height: 192px;
	display: block;
}
.img3{
	display: block;
	height: 100%;
	width: 100%;

}

.shop-right{
	width: 286px;
	height: 100%;
	background: blue;
	float: right;
}
.top2{
	width: 286px;
	height: 440px;
	display: block;
}
.img7{
	display: block;
	width: 100%;
	height: 100%;
}
.chunji{
	width: 100%;
	height: 129px;
}
.chunji1{
	width:110px ;
	height: 129px;
	margin: 0 auto;
	line-height: 129px;
	color: #9a9a9a;
}
.yifu{
	width: 1200px;
	height: 1200px;
	margin: 0 auto;
	background: #ffffff;
}
.yifu1{
	width: 390px;
	height:600px;
	display: block;
	margin-right: 17px;
	float: left;
}
.tu1{
	display: block;
	width: 100%;
	height: 100%;
}
.yifu2{
	width: 390px;
	height: 600px;
	display: block;
	float: left;
}
.yifu3{
	width: 390px;
	height: 600px;
	display: block;
	float: right;

}
.chunji2{
	width:140px ;
	height: 129px;
	margin: 0 auto;
	line-height: 129px;
}
.chun1{
	margin-right: 5px;
	color: #9a9a9a;
}
.chun2{
	color: #9a9a9a;
}
.xuangou{
	width: 1200px;
	height: 77px;
	background: red;
	margin: 0 auto;
}
.xuan-left{
	width: 187px;
	height: 100%;
	float: left;
}
.xuan-left img{
	margin-top: 10px;
}
.xuan-right{
	width: 1013px;
	height: 100%;
	background: blue;
	float: left;
}
